@font-face {
  font-family: "arimobold";
  src: url("fonts/arimo-bold-webfont.woff2") format("woff2"),
    url("fonts/arimo-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "arimoregular";
  src: url("fonts/arimo-regular-webfont.woff2") format("woff2"),
    url("fonts/arimo-regular-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoblack";
  src: url("fonts/roboto-black-webfont.woff2") format("woff2"),
    url("fonts/roboto-black-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "robotobold";
  src: url("fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "robotolight";
  src: url("fonts/roboto-light-webfont.woff2") format("woff2"),
    url("fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotothin";
  src: url("fonts/roboto-thin-webfont.woff2") format("woff2"),
    url("fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 66%,
    #110e3b 66%,
    #110e3b 100%
  );
}
ul {
  list-style: none;
}
.App {
  font-size: 0.875rem;
  font-family: robotoregular;
  font-weight: 400;
  line-height: 1.6rem;
  margin: 1rem;
  grid-template-columns: 2fr 1fr;
}
.grid {
  display: grid;
}
.App--Description {
  font-weight: normal;
}
