.App {
  font-size: 0.875rem;
  margin: 1rem;
}
.grid {
  display: grid;
}
.RightSide {
  background-color: darkblue;
  color: #fff;
  margin-left: 1.5rem;
}

@media (min-width: 568px) {
  .App {
    grid-template-columns: 2fr 1fr;
  }
}
