body.active-modal {
  overflow-y: hidden;
}
hr {
  padding: 0;
}

sup {
  color: red;
  font-size: 18px;
  padding-right: 5px;
  position: relative;
  top: 7px;
}

.btn--modal {
  align-items: center;
  background-color: #f1f4f8;
  border: none;
  display: flex;
  font-family: robotoregular;
  font-size: 1.2rem;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

.modal,
.overlay {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal--content {
  /* max-width: 700px; */
  background: #fff;
  border-radius: 3px;
  left: 50%;
  line-height: 1.4;
  min-height: 450px;
  min-width: 650px;
  padding: 14px 0;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

.close--modal {
  background: none;
  border: none;
  font-family: robotothin;
  font-size: 30px;
  padding: 5px 7px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal--content__description {
  margin: 10px 28px;
  font-family: robotoregular;
}
