.WeatherForecast {
  margin-top: 4rem;

  font-family: sans-serif;
}

.WeatherForecast--Day {
  margin-bottom: 1rem;
  opacity: 50%;
}
.WeatherForecast--Temperatures {
  font-size: 15px;
  margin-top: 0.7rem;
}

.WeatherForecast--Week {
  margin-top: 3rem;

  font-size: 20px;
  opacity: 0.8;
  font-family: robotoregular;
}
.WeatherForecastDay {
  display: flex;
}
.WeatherForecast {
  flex: 1;
}
