.WeatheForecastDay {
  width: 10%;
  padding-right: 10px;
}
.WeatherContent {
  float: left;
  font-family: sans-serif;
  margin-right: 1.5rem;
  margin-top: 4rem;
  width: 10%;
}

.WeatherForecast--Day {
  margin-bottom: 1rem;
  opacity: 50%;
}
.WeatherForecast--Temperatures {
  font-size: 15px;
  margin-top: 0.7rem;
}

.WeatherForecast--Week {
  font-family: robotoregular;
  font-size: 20px;
  margin-top: 3rem;
  opacity: 0.8;
}
